<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Listagem</title>
</head>
<body>

<div th:replace="~{menu :: menu}"></div>
		<div class="container">
			<h1>Solicitações:</h1>
			
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome da Empresa</th>
						<th>Ceo</th>
						<th>Cnpj</th>
						<th>Email</th>
						<th>Site</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="e : ${listEmpre}">
						<td th:text="${e.id}">1</td>
						<td><a th:href="@{/cadasempre/listEmpre/{id}(id=${e.id})}"><span th:text="${e.nome}">Empresa trabalha com Deus</span></a></td>
						<td th:text="${e.ceo}">dono de toda a ciencia</td>
						<td th:text="${e.cnpj}">00000000000000</td>
						<td th:text="${e.email}">euseguronamaodedeus@gmail.com</td>
						<td th:text="${e.site}">www.zeronao.com.br</td>
					</tr>
				</tbody>
			</table>
		</div>
</body>
</html>