<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Solicitação</title>
</head>
<body>
<h1>Solicite</h1>

<form action="/recycle" method="post">
	
	<div>
		<label>Nome:</label><input type="text" name="nome">
	</div>
	<div>
		<label>Endereço:</label><input type="text" name="endereco">
	</div>
	<div>
		<label>E-mail:</label><input type="text" name="email">
	</div>
	<div>
		<label>Descrição:</label><input type="text" name="descricao">
	</div>
	<div>
		<button type="submit">Enviar</button>
		<button type="reset">Limpar</button>
	</div>
</form>
</body>
</html>