<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastro empresa</title>
</head>
<body>
<h1>Cadastre sua empresa</h1>

<form action="">
	
	<div>
		<label>Nome:</label><input type="text" name="nome">
	</div>
	<div>
		<label>CEO:</label><input type="text" name="ceo">
	</div>
	<div>
		<label>E-mail:</label><input type="text" name="email">
	</div>
	<div>
		<label>Site da Empresa:</label><input type="text" name="site">
	</div>
	<div>
		<button type="submit">Enviar</button>
		<button type="reset">Limpar</button>
	</div>
</body>
</html>