<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login Usuário</title>
</head>
<body>
<h1>Faça seu login</h1>

<form action="">
	<div>
		<label>Nome:</label><input type="text" name="nome">
	</div>
	<div>
		<label>CPF:</label><input type="text" name="cpf">
	</div>
	<div>
		<label>E-mail:</label><input type="text" name="email">
	</div>
	<div>
		<label>Telefone:</label><input type="text" name="telefone">
	</div>
	<div>
		<button type="submit">Enviar</button>
		<button type="reset">Limpar</button>
	</div>
</form>
</body>
</html>