<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
  <nav th:fragment="menu">
    <div class="nav-wrapper container" color:black>
      <a href="#" class="brand-logo">E-Recycle</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/recycle">Home</a></li>
        <li><a href="/solic/formSolic">Solicite aqui</a></li>
        <li><a href="/cadasempre/logempresa">Cadastre sua empresa</a></li>
        <li><a href="/cadastrousu/logusua">Cadastre-se</a></li>
        <li><a href="/solic/listsol">solicitações</a></li>
      </ul>
    </div>
  </nav>

</body>
</html>